html, body, ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
}
 
h1, h2, h3, h4, h5, h6, p { margin: 0 }
fieldset, img { border: 0; }
legend { color: #000; }
 
input, textarea, select, button
{
	font-size: 110%;
	line-height: 1.1;
	font-family: helvetica, arial, sans-serif;
}
 
button
{
	width: auto;
	overflow: visible;
}
 
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
 
caption, th, td
{
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}
 
li { list-style: none; }
 
abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}
 
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
 
pre, code
{
	font-family: "Courier New", monospace, serif;
	font-size: 100%;
	line-height: 1.2;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');


:root{
	--fs-h1: 5rem;
	--fs-h2: 2rem;
	--fs-h3: 1.8rem;
	--fs-h4: 1.2rem;

	--white: #E5E5E5;
	--blue-light: #0092CC;
}

body {
	background: rgb(0,31,41);
	background: -moz-linear-gradient(90deg, rgba(0,31,41,1) 0%, rgba(0,15,20,1) 12%, rgba(0,9,12,1) 50%, rgba(0,15,20,1) 88%, rgba(0,31,41,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(0,31,41,1) 0%, rgba(0,15,20,1) 12%, rgba(0,9,12,1) 50%, rgba(0,15,20,1) 88%, rgba(0,31,41,1) 100%);
	background: linear-gradient(90deg, rgba(0,31,41,1) 0%, rgba(0,15,20,1) 12%, rgba(0,9,12,1) 50%, rgba(0,15,20,1) 88%, rgba(0,31,41,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001f29",endColorstr="#001f29",GradientType=1);
	font-family: 'Inter', sans-serif;
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#First-Page-Image{
	position: absolute;
    right: 0;
    top: 0;
    z-index: 1; /* Ajuste este valor conforme necessário */
}

h1{
	font-weight: 800;
	font-size: var(--fs-h1);
	line-height: 4.5rem;
	text-align: center;
	color: var(--blue-light);
	padding-bottom: 1.2%;
	width: 521px;
}

h2{
	font-weight: 700;
	font-size: var(--fs-h2);
}
h3{
	font-weight: 700;
	font-size: var(--fs-h3);
	width: 25rem;
	letter-spacing: 0.08rem;
	line-height: 2.5rem;
}
h4{
	font-weight: 100;
	font-size: var(--fs-h4);
	width: 80%;
	letter-spacing: 0.08rem;
	line-height: 1.5rem;
	max-width: 600px;
		
}

#Main-First-Page{
	margin-top: 4rem;
	margin-bottom: 6rem;
	max-width: 90rem;
	min-width: 22.5rem;
}

#First-Page{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 4rem;

}

#First-Page-Content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 8rem;
	z-index: 1;
}

#logo_1 {
	width: 15rem;
}

#First-Page-Content-Left{
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
}

#texts_first_page{
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.8rem;
	width: 32rem;
}

#texts_first_page, #texts_first_page h3, #texts_first_page h1, #texts_first_page h4 {
	margin: 0; /* Adicione esta linha */
}

.Text-blue{
	color: var(--blue-light);
	font-weight: bold;
}

.Button{
	background-color: var(--blue-light); /* Cor de fundo */
	border: none; /* Remove bordas */
	color: var(--white); /* Cor do texto */
	padding: 20px 48px; /* Espaçamento interno */
	text-align: center; /* Alinhamento do texto */
	text-decoration: none; /* Remove sublinhado */
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	width: 18rem;
	cursor: pointer; /* Muda o cursor para um ponteiro ao passar o mouse */
	transition-duration: 0.4s;
	border-radius: 100px;
}

.Button:hover {
	background-color: #00587A; /* Cor de fundo ao passar o mouse */
}
  
.Button:active {
background-color: #004059; /* Cor de fundo ao clicar */
transform: translateY(4px); /* Move o botão para baixo ao clicar */
}

.container-video {
	width: 30rem;
}

.container-video iframe {
	width: 100%;
	height: 16rem;
}


#Main-Second-Page{
	margin-top: -8px;
	width: 100%;
	background-color: #001F29;

	display: flex;
	justify-content: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 22rem;
  border-radius: 1em;
  background-color: var(--white);
  color: gray;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  text-align: start;
  height: fit-content;
}

.header {
  position: relative;
  margin: -1.5em 1em 0 1em;
  height: 12rem;
  overflow: hidden;
  border-radius: 1em;
  background: linear-gradient(to right, blue, lightblue);
  background-size: cover;
  background-position: center;
}

#header-0{
	background-image: url('/media/caldeira.jpeg');
}
#header-1{
	background-image: url('/media/fisica.jpg');
}
#header-2{
	background-image: url('/media/app-image-edit.png');
}
#header-3{
	background-image: url('/media/pratico.jpeg');
}
#header-4{
	background-image: url('/media/problemas.jpeg');
}
#header-5{
	background-image: url('/media/marketing.jpg');
}

.content {
  padding: 1.8em;
}

.content-button {
	padding: 1.8em;
	padding-top: 0rem;
	padding-bottom: 1.8rem;
  }

.title {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  color: #001F29;
}

.text {
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.5;
}

.button-card {
  padding: 1em;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: var(--blue-light);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  cursor: pointer; /* Muda o cursor para um ponteiro ao passar o mouse */
  transition-duration: 0.4s;
  width: 8rem;
  height: 2.5rem;
  border: none;
  border-radius: 1em;;
}

.button-card:hover {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  background-color: #00587A;
}

.button-card:active {
  opacity: 0.85;
  background-color: #004059; /* Cor de fundo ao clicar */
  transform: translateY(4px);
}

#Container-Cards{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6rem;
	row-gap: 6.5rem;

	padding-top: 6.5rem;
	padding-bottom: 6.5rem;
	width: 80%;
	flex-direction: row;
	flex-wrap: wrap;
	height: fit-content;
}

