html, body, ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
}
 
h1, h2, h3, h4, h5, h6, p { margin: 0 }
fieldset, img { border: 0; }
legend { color: #000; }
 
input, textarea, select, button
{
	font-size: 110%;
	line-height: 1.1;
	font-family: 'Inter', sans-serif;
}
 
button
{
	width: auto;
	overflow: visible;
}
 
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
 
caption, th, td
{
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}
 
li { list-style: none; }
 
abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}
 
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
 
pre, code
{
	font-family: 'Inter', sans-serif;
	font-size: 100%;
	line-height: 1.2;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root{
	--fs-h1: 5rem;
	--fs-h2: 2rem;
	--fs-h3: 1.8rem;
	--fs-h4: 1.2rem;

	--white: #E5E5E5;
	--blue-light: #0092CC;
}

body {
	background: rgb(0,31,41);
	background: -moz-linear-gradient(90deg, rgba(0,31,41,1) 0%, rgba(0,15,20,1) 12%, rgba(0,9,12,1) 50%, rgba(0,15,20,1) 88%, rgba(0,31,41,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(0,31,41,1) 0%, rgba(0,15,20,1) 12%, rgba(0,9,12,1) 50%, rgba(0,15,20,1) 88%, rgba(0,31,41,1) 100%);
	background: linear-gradient(90deg, rgba(0,31,41,1) 0%, rgba(0,15,20,1) 12%, rgba(0,9,12,1) 50%, rgba(0,15,20,1) 88%, rgba(0,31,41,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001f29",endColorstr="#001f29",GradientType=1);
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow-x: hidden;

	scroll-behavior: smooth;
}

#First-Page-Image{
	position: absolute;
	width: 54.7rem;
	display: none;
	
    right: 0;
	top: 0;
    z-index: 1; /* Ajuste este valor conforme necessário */
}

h1{
	font-weight: 800;
	font-size: var(--fs-h1);
	line-height: 4.5rem;
	text-align: center;
	color: var(--blue-light);
	padding-bottom: 1.2%;
	width: 521px;
}

h2{
	font-weight: 700;
	font-size: var(--fs-h2);
}
h3{
	font-weight: 700;
	font-size: var(--fs-h3);
	width: 25rem;
	letter-spacing: 0.08rem;
	line-height: 2.5rem;
}
h4{
	font-weight: 100;
	font-size: var(--fs-h4);
	width: 80%;
	letter-spacing: 0.08rem;
	line-height: 1.5rem;
	max-width: 600px;
		
}

#Section-Poster{
	width: 100%;
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: #001F29;

	display: flex;
	align-items: center;
	justify-content: center;
}

#Section-Poster-Image{
	width: 29rem;
	border-radius: 1rem;
}


#Main-First-Page{
	width: 100%;

	position: relative;
}

#First-Page{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 4rem;
	padding-top: 4rem;
	padding-bottom: 4rem;

}

#First-Page-Content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 12rem;
	z-index: 1;
}

#logo_1 {
	width: 15rem;
}

#First-Page-Content-Left{
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
}

#texts_first_page{
	width: min-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.8rem;
}

#First-Page-Content-2{
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}

#Text-Video{
	width: 80%;
	text-align: center;
	text-decoration: underline;
    text-decoration-color: #0092CC;
	text-underline-offset: 4px;
}

#button_1_mobile{
	display: none;
}

#texts_first_page, #texts_first_page h3, #texts_first_page h1, #texts_first_page h4 {
	margin: 0; /* Adicione esta linha */
}

.Text-blue{
	color: var(--blue-light);
	font-weight: bold;
}

.Button{
	background-color: var(--blue-light); /* Cor de fundo */
	border: none; /* Remove bordas */
	color: var(--white); /* Cor do texto */
	padding: 20px 48px; /* Espaçamento interno */
	text-align: center; /* Alinhamento do texto */
	text-decoration: none; /* Remove sublinhado */
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	min-width: 18rem;
	cursor: pointer; /* Muda o cursor para um ponteiro ao passar o mouse */
	transition-duration: 0.4s;
	border-radius: 100px;
}

.Button:hover {
	background-color: #00587A; /* Cor de fundo ao passar o mouse */
}
  
.Button:active {
background-color: #004059; /* Cor de fundo ao clicar */
transform: translateY(4px); /* Move o botão para baixo ao clicar */
}

.container-video iframe {
	border-radius: 12px;
	width: 15.8rem;
	height: 28rem;
}


#Main-Second-Page{
	padding: 4rem;
	padding-bottom: 0;
	width: 100%;
	background-color: #001F29;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 1em;
  background-color: var(--white);
  color: gray;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  text-align: start;
  height: fit-content;
}

.header {
  position: relative;
  margin: -1.5em 1em 0 1em;
  height: 12rem;
  overflow: hidden;
  border-radius: 1em;
  background: linear-gradient(to right, blue, lightblue);
  background-size: cover;
  background-position: center;
}

#header-0{
	background-image: url('/media/caldeira.webp');
}
#header-1{
	background-image: url('/media/fisica.webp');
}
#header-2{
	background-image: url('/media/app-image-edit.webp');
}
#header-3{
	background-image: url('/media/pratico.webp');
}
#header-4{
	background-image: url('/media/problemas.webp');
}
#header-5{
	background-image: url('/media/marketing.webp');
}

.content {
  padding: 1.8em;
  min-height: 220px;
}

.content-button {
	margin-left: 1.8rem;
    margin-right: 1.8rem;
    margin-bottom: 1.8rem;
    height: 6px;
    border-radius: inherit;
    background-color: #001F29;
  }

.title-card {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  color: #001F29;
}

.text {
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.5;
  color: #555;
}

.button-card {
  padding: 1em;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: var(--blue-light);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  cursor: pointer; /* Muda o cursor para um ponteiro ao passar o mouse */
  transition-duration: 0.4s;
  width: 8rem;
  height: 2.5rem;
  border: none;
  border-radius: 1em;;
}

.button-card:hover {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  background-color: #00587A;
}

.button-card:active {
  opacity: 0.85;
  background-color: #004059; /* Cor de fundo ao clicar */
  transform: translateY(4px);
}

#Container-Cards{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	row-gap: 4rem;

	padding-top: 6.5rem;
	padding-bottom: 4.5rem;
	flex-direction: row;
	flex-wrap: wrap;
	height: fit-content;
}


.wrapper {
	height: 100%;
	width: 100%;
	height: 27rem;
	display: flex;
	justify-content: center;
	overflow: hidden;
  }
  
  .carousel {
	position: relative;
	width: 100%;
	max-width: 850px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1.5rem; /* Espaçamento entre os itens do carrossel */
  }
  
  .carousel__item {
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	opacity: 0;
	filter: drop-shadow(0 2px 2px #555);
	will-change: transform, opacity;
	-webkit-animation: carousel-animate-vertical 27s linear infinite;
          	animation: carousel-animate-vertical 27s linear infinite;
  }
  
  .carousel__item:nth-child(1) {
	-webkit-animation-delay: calc(3s * -1);
			animation-delay: calc(3s * -1);
  }
  
  .carousel__item:nth-child(2) {
	-webkit-animation-delay: calc(3s * 0);
			animation-delay: calc(3s * 0);
  }
  
  .carousel__item:nth-child(3) {
	-webkit-animation-delay: calc(3s * 1);
			animation-delay: calc(3s * 1);
  }
  
  .carousel__item:nth-child(4) {
	-webkit-animation-delay: calc(3s * 2);
			animation-delay: calc(3s * 2);
  }
  
  .carousel__item:nth-child(5) {
	-webkit-animation-delay: calc(3s * 3);
			animation-delay: calc(3s * 3);
  }
  
  .carousel__item:nth-child(6) {
	-webkit-animation-delay: calc(3s * 4);
			animation-delay: calc(3s * 4);
  }
  
  .carousel__item:nth-child(7) {
	-webkit-animation-delay: calc(3s * 5);
			animation-delay: calc(3s * 5);
  }
  
  .carousel__item:nth-child(8) {
	-webkit-animation-delay: calc(3s * 6);
			animation-delay: calc(3s * 6);
  }
  
  .carousel__item:last-child {
	-webkit-animation-delay: calc(-3s * 2);
			animation-delay: calc(-3s * 2);
  }
  
  
  .carousel__item-head {
	border-radius: 50%;
	background-color: #d7f7fc;
	width: 90px;
	height: 90px;
	padding: 14px;
	position: relative;
	margin-right: -45px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	background-size: contain;
	background-repeat: no-repeat;
  }

  #carousel-image-0{background-image: url('/media/atencao.svg'); background-size: 60%; background-position: 50% 40%;}
  #carousel-image-1{background-image: url('/media/tempo.svg'); background-size: 80%; background-position: 50% 50%;}
  #carousel-image-2{background-image: url('/media/medidor.svg'); color: #000; background-size: 60%; background-position: 50% 50%;}
  #carousel-image-3{background-image: url('/media/fire.svg'); background-size: 80%; background-position: 50% 50%;}
  
  .carousel__item-body {
	width: 100%;
	background-color: #fff;
	border-radius: 8px;
	padding: 16px 20px 16px 70px;
  }
  
  .title {
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 0.5em;
	font-size: 1.4rem;
	font-weight: bold;
	color: #001F29;
  }

  @-webkit-keyframes carousel-animate-vertical {
	0% {
	  transform: translateY(100%) scale(0.5);
	  opacity: 0;
	  visibility: hidden;
	}
	3%, 11.1111111111% {
	  transform: translateY(100%) scale(0.7);
	  opacity: 0.4;
	  visibility: visible;
	}
	14.1111111111%, 22.2222222222% {
	  transform: translateY(0) scale(1);
	  opacity: 1;
	  visibility: visible;
	}
	25.2222222222%, 33.3333333333% {
	  transform: translateY(-100%) scale(0.7);
	  opacity: 0.4;
	  visibility: visible;
	}
	36.3333333333% {
	  transform: translateY(-100%) scale(0.5);
	  opacity: 0;
	  visibility: visible;
	}
	100% {
	  transform: translateY(-100%) scale(0.5);
	  opacity: 0;
	  visibility: hidden;
	}
  }
  
  @keyframes carousel-animate-vertical {
	0% {
	  transform: translateY(100%) scale(0.5);
	  opacity: 0;
	  visibility: hidden;
	}
	3%, 11.1111111111% {
	  transform: translateY(100%) scale(0.7);
	  opacity: 0.4;
	  visibility: visible;
	}
	14.1111111111%, 22.2222222222% {
	  transform: translateY(0) scale(0.8);
	  opacity: 1;
	  visibility: visible;
	}
	25.2222222222%, 33.3333333333% {
	  transform: translateY(-100%) scale(0.7);
	  opacity: 0.4;
	  visibility: visible;
	}
	36.3333333333% {
	  transform: translateY(-100%) scale(0.5);
	  opacity: 0;
	  visibility: visible;
	}
	100% {
	  transform: translateY(-100%) scale(0.5);
	  opacity: 0;
	  visibility: hidden;
	}
  }


  #Container-Wrapper{
	padding-top: 4rem;
	padding-bottom: 1.8rem;
	background: linear-gradient(60deg, #001F29, #004059);
	width: 100vw;
  }

  #Title-Wrapper{
	letter-spacing: 2px;
  }

  #container-app{
	background-image: url('/media/background-app2.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 4rem;
	padding-bottom: 6rem;
	width: 100vw;
	display: flex;
	justify-content: center;
  }

  #app{
	color: #004059;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding-left: 10%;
	padding-right: 10%;
	
  }

  #title-app{
	max-width: 900px;
	text-align: left;
  }

  #desc-app{
	max-width: 800px;
	text-align: left;
	margin-left: -14%;
	font-size: 1.2rem;
  }
  #desc-app ul {
	list-style: none; /* Remove os marcadores padrão */
	padding: 0; /* Remove o padding padrão */
}

#desc-app li {
	position: relative; /* Necessário para posicionar o marcador personalizado */
	padding-left: 20px; /* Espaço para o marcador personalizado */
	margin-bottom: 2rem; /* Espaçamento entre os itens */
	
}

#li-1{
	max-width: 800px;
}

#li-2{
	max-width: 600px;
}

#li-3{
	max-width: 390px;
}

#desc-app li::before {
	content: '\2022'; /* Código do caractere para o marcador personalizado (•) */
	position: absolute; /* Posiciona o marcador fora do fluxo normal */
	left: 0; /* Alinha o marcador à esquerda */
	color: #001F29; /* Cor do marcador */
	font-size: 1.5em; /* Tamanho do marcador */
	line-height: 20px; /* Alinha o marcador verticalmente com o texto */
}

#app_1 {
	width: 60%;

}

#title-container-app{
	margin-left: -14%;
}

#image-app{
	display: flex;
	align-items: center;
	justify-content: end;
	margin-right: -14%;
	margin-top: -13rem;
	
}


#button_2{
	text-align: start;
	margin-left: -7%;
	margin-top: -10rem;
}

#Main-Third-Page{
	padding-top: 6rem;
	padding-bottom: 6rem;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10rem;

}

#tutor-image{
	width: max-content;
	display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#link-insta{
	color: var(--white);
}

#bio-left{
	width: 50%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	
}

#bio-image{
	width: 14rem;
	
}


#bio-title{
	width: 80%;
	font-weight: bolder;
	
}

#bio-desc{
	font-weight: 500;
	font-size: 1.4rem;
	color: #c2c2c2;
	max-width: none;
}

#bio-data-container{
	border: 2px solid var(--blue-light);
	border-radius: 12px;
	padding-top: 1rem;
	padding-bottom: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3rem;
	min-width: 16rem;
}

.bio-data{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	width: 13rem;
}

.bio-data-number{
	font-weight: bold;
	font-size: 4rem;
}

.bio-data-text{
	font-size: 1rem;
	font-weight: 600;
	color: #c2c2c2;
}


#bio-right{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

#link-h3{
	width: min-content;
	font-size: 1.5rem;
}

#bio-title-mobile {
	display: none;
  }

strong{
	color: #fff;
}

#Main-Four-Page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	background-color: #001F29;
	padding-top: 4rem;
	padding-bottom: 4rem;
	gap: 3rem;
}

/* Page Contador */
#Main-Five-Page{
	width: 100%;
	height: max-content;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 4rem;
	padding-bottom: 4rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


	background-image: url('/media/bg-2.webp');
	background-size: cover; /* Garante que a imagem cubra todo o elemento */
	background-repeat: no-repeat; /* Evita que a imagem se repita */
	background-position: center; /* Centraliza a imagem no elemento */
  

}

#img-calendar{
	color: var(--white);
	width: 6rem;
}

#Texts-title{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin-top: 3rem;
	margin-bottom: 3rem;
}

#Texts-title h3{
	font-size: 1.4rem;
	letter-spacing: 8px;
	text-wrap: nowrap;
	font-weight: 500;
	width: 100%;
}

#Texts-title h2{
	margin-top: 1.5rem;
	letter-spacing: 2px;
	font-size: 2.6rem;
	color: var(--blue-light);
}

#Texts-title h4{
	margin-top: 1rem;
	letter-spacing: 2px;
}

.container-event-info{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8rem;
	margin-top: 3rem;
	
	font-size: 1rem;
}

.item-info{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}

.icone{
	width: 22px;
}

.contador{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 4rem;

	margin-top: 3rem;
}

.tempo{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
	width: 105px;
}

.numero{
	font-size: 4rem;
}

.rotulo{
	font-size: 1.4rem;
}

#button_3{
	margin-top: 3rem;
}

#Main-Six-Page {
	width: 100%;
	padding: 4rem;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #001F29;

}

.Title-Benefits{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.Text-Title-Beneftis{
	font-size: 2rem;
	letter-spacing: 4px;
	color: #0092CC;
	width: 100%;
	min-width: 320px;
}

#Container-Benefits{
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	margin-top: 4rem;
}

.Div-Benefits{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 2rem;

	min-width: 280px;

}

#Benefits-card-1{
	margin-top: 1.35rem;
	gap: 0.68rem;
}

.Div-Benefits h3{
	color: #C2C2C2DD;
	font-size: 1.4rem;
	text-wrap: wrap;
	width: 90%;
	max-width: 500px;
}

.Div-Benefits h4{
	color: #A3A3A3;
	margin-top: -1.78rem;
	font-size: 1rem;
	text-wrap: wrap;
}


.Rounded{
	height: 2px;
	border-radius: 20px;
	width: 100%;
	color: #0092CC;
	background-color: #0092CC;
}

#Main-Seven-Page{
	padding: 4rem;
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
	background-color: #000B0C;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 6rem;
	overflow: hidden;
}

#Text-Pricing{
	text-align: center;
	max-width: 58rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;

}

#Text-Pricing h2{
	font-size: 2.4rem;
	color: var(--white);
	letter-spacing: 2px;
}

#Text-Pricing h4 {
	font-size: 1.2rem;
	color: #c2c2c2;
	font-weight: 100;
}

#Cards-Pricing{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 6rem;

    flex-wrap: wrap;
	
}

.Card-Pricing{
	border-radius: 24px;
	width: 30rem;
	height: 18.9rem;
	padding: 2rem;
	padding-top: 1.5rem;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;

	background-color: #002E3D;
}

.Card-Pricing h4{
	font-size: 1rem;
	color: #c2c2c2;
	width: auto;
}

.Card-Pricing h3{
	font-size: 1.6rem;
	width: auto;
}

.Card-Pricing h2{
	font-size: 2.5rem;
	width: auto;
}

.button_4{
	font-style: 1.6rem;
	width: 100%;

}

#button_4{
	padding: 12px 12px;
	width: 100%;
	border-radius: 12px;
	font-size: 1.4rem;
	min-width: 0px;
}

#button_4-2{
	padding: 12px 12px;
	border-radius: 12px;
	width: 100%;
	font-size: 1.4rem;
	min-width: 0px;
}


.First-Line{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#Text-Line{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#Second-Line-Left{
	display: flex;
	align-items: start;
}

#Second-Line-Right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 0.4rem;
}

#Second-Line-Left h3{
	text-decoration: line-through;
	color: #873D48;
}

#Desc-Pricing{
	background-color: var(--white);
	border-radius: 24px;
	color: #002E3D;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7rem;

	padding: 3rem;
	padding-left: 4rem;
	padding-right: 4rem;
}


#Desc-Pricing h2{
	font-size: 2rem;
	width: auto;
	text-wrap: nowrap;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 3rem;
}

#line{
	width: 4px;
	background-color: #002E3D;
	margin-top: 1px;
	margin-bottom: 1px;
	height: 22rem;
	border-radius: 24px;
}

#Container-Desc{
	margin-bottom: 1.5rem;
	margin-left: 2rem;
	margin-right: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;

	gap: 0.8rem;

	width: auto;
}

.Line-Desc{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 8px;
	width: 100%;
}

.Line-Desc h5{
	font-size: 1rem;

}

#Container-Right-Desc-pricing{
	text-align: start;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}




















#Form{
	background-color: #001F29;
	height: max-content;
	width: 100%;
	padding-top: 3rem;
	padding-bottom: 4rem;
	padding-left: 10%;
	padding-right: 10%;

	display: flex;
	flex-direction: column;
	gap: 2rem;

	font-family: 'Inter', sans-serif;
}

#container-form{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 5rem;
}

#logo-form{
	width: min-content;
}

#logo-form h1{
	width: min-content;
}


.form-group {
	text-align: left;
	width: 100%;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
	text-align: left;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

textarea.form-control {
    height: auto;
}

#Form-Button {
    text-decoration: none;
}


.Button_Form {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #28a745;
    border: 1px solid #28a745;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;

	width: 100%;
}

#Form-Button{
	width: 100%;
}

.Button_Form:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.Button_Form:active {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

#Form-Contact{
	text-align: left;
}

#left-form{
	width: 25%;
	min-width: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

#right-form{
	width: 25%;
	min-width: 14rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	gap: 1.5rem;
}

#div-footer{
	width: 100%;
	height: 3.5rem;
	background-color: #000B0C;
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
}

#div-footer h4{
	font-size: 1rem;
}

/* POSTER */
#container-image{
	display: flex;
	border-radius: 6px;
	border: 2px solid #0092CC;
}

#poster-image{
	border-radius: 6px;
	width: 28rem;
}

.text-description{
	width: 90%;
}