@media only screen and (max-width: 1920px) {
    :root{
        --fs-h1: 5rem;
        --fs-h2: 2rem;
        --fs-h3: 1.8rem;
        --fs-h4: 1.2rem;
    }

}

@media only screen and (max-width: 1440px) {
    #First-Page-Content{
        gap: 5rem;
    }
    #container-form{
        gap: 4rem;
    }
    
    .Box-Text-Benefits h3{
        line-height: 1.8rem;
    }

    #Main-Six-Page {
        padding: 4rem;
        padding-left: 10%;
        padding-right: 10%;
        background-color: #001F29;
    }

    .Container-Benefits{
        padding-left: 0;
        padding-right: 0;
    }

    .Container-Benefits{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    #Desc-Pricing{
        gap: 4rem;
    }
    
}

@media only screen and (max-width: 1280px) {


    #First-Page{
        gap: 3rem;
    }

    #First-Page-Content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    #texts_first_page{
        gap: 1.5rem;
    }
    #First-Page-Image{
        display: none;
    }
    
    #app{
        align-items: center;
    }
    #container-app{
        padding-bottom: 4.5rem;
    }
    
    
      #title-app{
        max-width: 600px;
        font-size: 1.8rem;
        text-align: center;
      }
    
      #desc-app{
        max-width: 700px;
        margin-left: 0%;
        font-size: 1rem;
      }
    
    #li-2{
        max-width: 700px;
    }
    
    #li-3{
        max-width: 700px;
    }

    
    #app_1 {
        width: 30rem;
    
    }
    
    #title-container-app{
        margin-left: 0%;
    }
    
    #image-app{
        margin-top: -2rem;
        margin-right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    #button_2{
        margin-top: -0.5rem;
        margin-left: 0px;
    }

    #Main-Third-Page{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 6rem;
        padding-bottom: 6rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #tutor-image{
        width: 18rem;
    }
    
    #link-h3{
        padding-right: 0%;
        font-size: 1.7rem;
    }
    
    #bio-title{
        width: 80%;
        font-weight: bolder;
    }

    #bio-desc h4{
        width: 100%;
    }

    
    #container-form{
        gap: 3rem;
    }
    
    #logo-form h1{
        font-size: 4rem;
        
    }
    
    .Container-Benefits{
        gap: 4rem;
    }

    #Desc-Pricing{
        gap: 2.5rem;
    
        padding: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    
    #Desc-Pricing h2{
        font-size: 1.6rem;
        width: auto;
        text-wrap: nowrap;
        font-weight: 800;
        letter-spacing: 2px;
        line-height: 3rem;
    }

    #Text-Container{
        font-size: 1.4rem;
    }

    #Section-Poster-Image{
        width: 32rem;
    }

    #Container-Cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        row-gap: 6.5rem;
        max-width: 80rem;
    
        padding-top: 6.5rem;
        padding-bottom: 4.5rem;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
    }

    .card {
        width: 22rem;
      }

    #button-second-page{
        margin-top: -2.5rem;
    }

    #title-benefits-1 {
        width: 90%;
    }

    #benefits-1 {
        min-width: 220px;
        font-size: 1.6rem;
    }

}

@media only screen and (max-width: 1024px){

    #poster-image{
        width: 20rem;
    }

    #app{
        align-items: center;
    }
    #container-app{
        padding-bottom: 4.5rem;
    }
    
    
      #title-app{
        max-width: 500px;
        font-size: 1.8rem;
        text-align: center;
      }
    
      #desc-app{
        max-width: 600px;
        margin-left: 0%;
        font-size: 1rem;
        text-align: left;
      }
    
    #li-2{
        max-width: 600px;
    }
    
    #li-3{
        max-width: 600px;
    }

    
    #app_1 {
        width: 30rem;
    
    }
    
    #title-container-app{
        margin-left: 0%;
    }
    
    #image-app{
        margin-top: -2rem;
        margin-right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    #button_2{
        margin-top: -0.5rem;
    }

    #bio-title {
        display: none;
      }
    
      #bio-title-mobile {
        display: block;
      }

      #Main-Third-Page{
        flex-direction: column;
        gap: 3rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    #bio-right{
        order: 2;
        align-items: center;
        gap: 1.5rem;
    }

    #bio-left{
        order: 3;
    }

    #bio-title-mobile{
        order: -1;
    }

    #tutor-image{
        width: 24rem;
        align-items: center;
    }
    
    #bio-image{
        width: 10rem;
    }
    #link-h3{
        font-size: 1.4rem;
    }

    #logo-form h1{
        font-size: 3rem;
        
    }

    #Desc-Pricing{
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #line{
        height: 4px;
        width: 100%;
    }

    #Container-Right-Desc-pricing{
        justify-content: center;
        align-items: center;
    }

    #Text-Container{
        text-align: center;
    }

}

@media only screen and (max-width: 900px) {
    #logo-form h1{
        font-size: 4rem;
        
    }

    #Form-Contact{
        text-align: center;
    }

    #container-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    #left-form{
        width: 100%;
        min-width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }
    
    #right-form{
        width: 100%;
        min-width: 14rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }

    .Container-Benefits{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Container-Benefits-Reverse{
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .Box-Text-Benefits{
        align-items: center;
        text-align: center;
    }

    .Box-Text-Benefits h2{
        font-size: 1.4em;
        color: var(--white);
        font-weight: 700;
    }
    
    .Box-Text-Benefits h3{
        font-size: 1.2rem;
        color: #c2c2c2;
        font-weight: 200;
        margin-top: 2rem;
        width: 100%;
        line-height: 2rem;
    }

    .Text-Title-Beneftis{
        font-size: 1.6rem;
        letter-spacing: 2px;
        color: #0092CC;
        width: 100%;
        min-width: 220px;
    }

    
    
}

@media only screen and (max-width: 768px) {
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 1.8rem;
        --fs-h3: 1.6rem;
        --fs-h4: 1rem;
    }
    h1{
        width: 200px;
    }
    
    .container-video iframe {
        width: 14rem;
	    height: 24.8rem;
    }

    #title-app{
        font-size: 1.6rem;
    }
    #container-app{
        padding-bottom: 4.5rem;
      }

    #app_1 {
        width: 22rem;
    
    }

    /* Container */
    .carousel-insta img {
        max-width: 100%;
        height: 100%;
      }

    .instagram {
        max-width: var(--max-width-post);
        width: 320px;
    }

    .carousel__wrapper {
        height: 417.4px;
    }
    .instagram__media{
        height: 417px;
    }

    .container{
        width: 100%;
    }

    body{
        background-image: linear-gradient(90deg, rgb(0,20,26),rgb(0,21,28));
    }
    
    #img-calendar{
        width: 4.5rem;
    }

    #Texts-title h3{
        font-size: 1.2rem;
        letter-spacing: 8px;
        text-wrap: wrap;
    }
    
    #Texts-title h2{
        letter-spacing: 2px;
        font-size: 2.2rem;
    }
    
    #Texts-title h4{
        margin-top: 1rem;
        letter-spacing: 2px;
    }
    
    .container-event-info{
        flex-direction: column;
        gap: 3rem;
        margin-top: 4.5rem;
        font-size: 1.2rem;
    }
    
    .icone{
        width: 22px;
    }
    
    .contador{
        gap: 1rem;
    }
    
    .tempo{
        gap: 0.6rem;
        width: 75px;
    }
    
    .numero{
        font-size: 2.86rem;
    }
    
    .rotulo{
        font-size: 1rem;
    }

    #div-footer h4{
        font-size: 0.8rem;
    }
    
    .Card-Pricing{
        width: 20rem;
    }

    .Card-Pricing h4{
        font-size: 0.8rem;
        color: #c2c2c2;
        width: auto;
    }
    
    .Card-Pricing h3{
        font-size: 1.4rem;
        width: auto;
    }
    
    .Card-Pricing h2{
        font-size: 2rem;
        width: auto;
    }

    #Desc-Pricing{
        width: 28rem;
    }

    #Text-Treatment{
        width: 16rem;
    }

    #Section-Poster-Image{
        width: 24rem;
    }

    .card {
        width: 18rem;
      }

    #title-benefits-1 {
        width: 90vw;
    }
    
}

@media only screen and (max-width: 580px) {
    #Desc-Pricing{
        width: 24rem;
    }
}

@media only screen and (max-width: 480px) {

    #poster-image{
        width: 16rem;
    }

    #Main-First-Page{
        margin-top: 2rem;
    }

    #First-Page{
        gap: 2rem;
    
    }

    h1{
        width: 22rem;
    }

    h3{
        width: 22rem;
    }

    h4{
        width: 20rem;
    }
    
    .title {
        font-size: 14px;
      }

      #app_1 {
        width: 18rem;
    
    }

    #Main-Third-Page{
        padding-left: 4%;
        padding-right: 4%;
    }

    #tutor-image{
       width:80%;
    }

    #div-footer h4{
        font-size: 0.6rem;
    }

    .Benefits-Image{
        width: 70%;
    }

    .Box-Text-Benefits h2{
        font-size: 1.4em;
        color: var(--white);
        font-weight: 700;
    }
    
    .Box-Text-Benefits h3{
        font-size: 1.1rem;
        color: #c2c2c2;
        font-weight: 200;
        margin-top: 2rem;
        width: 100%;
        line-height: 2rem;
    }

    .Text-Title-Beneftis{
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: #0092CC;
        width: 100%;
        min-width: 200px;
    }

    .Card-Pricing{
        width: 18.5rem;
    }

    #Desc-Pricing{
        width: 21rem;
    }

    #Desc-Pricing h2 {
        font-size: 1.4rem;
        line-height: 2rem;
        text-wrap: wrap;
    }

    #Section-Poster-Image{
        width: 80%;
    }

    .Line-Desc h5{
        font-size: 0.8rem;
    }

}
