@media only screen and (max-width: 1920px) {
    :root{
        --fs-h1: 5rem;
        --fs-h2: 2rem;
        --fs-h3: 1.8rem;
        --fs-h4: 1.2rem;
    }

}

@media only screen and (max-width: 1440px) {
    #First-Page-Content{
        gap: 5rem;
    }
}

@media only screen and (max-width: 1280px) {

    #Main-First-Page{
        margin-top: 3rem;
        margin-bottom: 5rem;
    }

    #First-Page{
        gap: 3rem;
    }

    #First-Page-Content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    #texts_first_page{
        gap: 1.5rem;
    }
    #First-Page-Image{
        display: none;
    }
    
    #app{
        align-items: center;
    }
    #container-app{
        padding-bottom: 4.5rem;
    }
    
    
      #title-app{
        max-width: 600px;
        font-size: 1.8rem;
        text-align: center;
      }
    
      #desc-app{
        max-width: 700px;
        margin-left: 0%;
        font-size: 1rem;
      }
    
    #li-2{
        max-width: 700px;
    }
    
    #li-3{
        max-width: 700px;
    }

    
    #app_1 {
        width: 30rem;
    
    }
    
    #title-container-app{
        margin-left: 0%;
    }
    
    #image-app{
        margin-top: -2rem;
        margin-right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    #button_2{
        margin-top: -0.5rem;
    }

    #Main-Third-Page{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 6rem;
        padding-bottom: 6rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #tutor-image{
        width: 18rem;
    }
    
    #link-h3{
        padding-right: 0%;
        font-size: 1.7rem;
    }
    
    #bio-title{
        width: 80%;
        font-weight: bolder;
    }

    #bio-desc h4{
        width: 100%;
    }

}

@media only screen and (max-width: 1024px){

    #app{
        align-items: center;
    }
    #container-app{
        padding-bottom: 4.5rem;
    }
    
    
      #title-app{
        max-width: 500px;
        font-size: 1.8rem;
        text-align: center;
      }
    
      #desc-app{
        max-width: 600px;
        margin-left: 0%;
        font-size: 1rem;
        text-align: left;
      }
    
    #li-2{
        max-width: 600px;
    }
    
    #li-3{
        max-width: 600px;
    }

    
    #app_1 {
        width: 30rem;
    
    }
    
    #title-container-app{
        margin-left: 0%;
    }
    
    #image-app{
        margin-top: -2rem;
        margin-right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    #button_2{
        margin-top: -0.5rem;
    }

    #bio-title {
        display: none;
      }
    
      #bio-title-mobile {
        display: block;
      }

      #Main-Third-Page{
        flex-direction: column;
        gap: 3rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    #bio-right{
        order: 2;
        align-items: center;
        gap: 1.5rem;
    }

    #bio-left{
        order: 3;
    }

    #bio-title-mobile{
        order: -1;
    }

    #tutor-image{
        width: 24rem;
        align-items: center;
    }
    
    #bio-image{
        width: 60%;
    }
    #link-h3{
        font-size: 1.4rem;
    }

    /* carrossel */
    /* .instagram__media {
        max-height: 300px;
    }
    .instagram {
        max-width: 300px;
        width: 300px;   
    }
    .carousel img {
        max-width: 300px;
    }
    .carousel .item {
        max-width: 300px;
    } */


}

@media only screen and (max-width: 768px) {
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 1.8rem;
        --fs-h3: 1.6rem;
        --fs-h4: 1rem;
    }
    h1{
        width: 200px;
    }

    .container-video {
        width: 25rem;
    }
    
    .container-video iframe {
        height: 14rem;
    }

    #title-app{
        font-size: 1.6rem;
    }
    #container-app{
        padding-bottom: 4.5rem;
      }

    #app_1 {
        width: 22rem;
    
    }

    /* Container */
    .carousel-insta img {
        max-width: 100%;
        height: 100%;
      }

    .instagram {
        max-width: var(--max-width-post);
        width: 320px;
    }

    .carousel__wrapper {
        height: 417.4px;
    }
    .instagram__media{
        height: 417px;
    }

    .container{
        width: 100%;
    }

    body{
        background-image: linear-gradient(90deg, rgb(0,20,26),rgb(0,21,28));
    }
    
}

@media only screen and (max-width: 480px) {

    #Main-First-Page{
        margin-top: 2rem;
    }

    #First-Page{
        gap: 2rem;
    
    }

    h1{
        width: 22rem;
    }

    h3{
        width: 22rem;
    }

    h4{
        width: 20rem;
    }

    .container-video {
        width: 21rem;
    }
    
    .container-video iframe {
        height: 11.25rem;
    }

    .title {
        font-size: 14px;
      }

      #app_1 {
        width: 18rem;
    
    }

    #Main-Third-Page{
        padding-left: 10%;
        padding-right: 10%;
    }

    #tutor-image{
       width:80%;
    }

    /* carrossel
    .instagram__media {
        max-height: 220px;
    }
    .instagram {
        max-width: 220px;
        width: 220px;   
    }
    .carousel img {
        max-width: 220px;
    }
    .carousel .item {
        max-width: 220px;
    } */

}
